.navIcons {
    margin-top: 1rem;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    gap: 1rem; /* Add some space between icons */
}

.navIcons > img,
.navIcons > svg,
.navIcons > a > img {
    width: 1.5rem;
    height: 1.5rem;
}

.navIcons > a > div {
    width: 4rem;
    height: 4rem;
}
